/*color scheme
papaya = #E24E42;
mustard = #E9B000;
blush = #EB6E80;
aqua = #008F95;*/

.radius50{
  border-radius: 50px;
  border-width:1px;
  border-color: white;
  background-color: #E9B000;
  color: white;
}



.postRequestForms{
  width: 80% !important;
  -webkit-box-shadow:0 0 10px rgba(0, 0, 0, 0.5);
  -moz-box-shadow:0 0 10px rgba(0, 0, 0, 0.5);
  box-shadow:0 0 10px rgba(0, 0, 0, 0.5);
  border-radius: 30px!important;
}

.papaya-bg{
  background-color: #E24E42;
}

.mustard-bg{
  background-color: #E9B000 !important;
}

.blush-bg{
  background-color: #EB6E80;
}

.aqua-bg{
  background-color: #008F95;;
}
.colRed{
  background-color: red ;
}

.map{
  width: 100%;
  height: 90vh;
}

.removeMargin{
  margin: 0 0 0 0;
}

.removePadding{
  padding: 0 0 0 0;
}

.removeMarginPadding{
  margin: 0 0 0 0;
  padding: 0 0 0 0;
}

.removeMaxWidth{
  max-width: none !important;
}

.top-barHeightWidth{
  height:10vh !important;
  width:100vw !important;
}


.requestPostSidebar{
  height: 90vh;
}

.requestButton{
  height: 45vh;
  width:100%;
  /*margin:7px;
  border-radius: 5px;*/
}

.postButton{
  height: 45vh;
    width:100%;
    /*margin:7px;
    border-radius: 5px;*/
}
form{
  width:100%;
  height:100%
}

.submitButton{
  margin-top:10vh;
  height:200px;
  margin-left:38% !important;
}

.floatBottomSubmitBotton{
  position:absolute;
  bottom: 0;
  transform:translateY(-35%);
}

.orangeButton{
  border: 2px;
  border-radius: 100px;
  background-color: #E9B000;
  color: black;
  font-weight: bold;
  height:125px;
  width:125px !important;
  margin-right: auto !important;
  margin-left: auto!important;
  content:none !important;
  line-height: 100px!important;
  border-style: solid;
  border-width:4px;
  border-color: black;
  color:black;
  transition: color 1s;
  transition: background-color 1s;
  transition: border-color 1s;
  box-shadow: 0 1px 1px 0 #C7C7C7 inset;
  background: none repeat scroll 0 0 #ffff1a;
  position: relative!important;
  top: 50%;
  transform:translateY(-50%);
}

.orangeButton:hover{

  -webkit-box-shadow:0 0 10px rgba(0, 0, 0, 0.5);
  -moz-box-shadow:0 0 10px rgba(0, 0, 0, 0.5);
  box-shadow:0 0 10px rgba(0, 0, 0, 0.5);
  color:white;
  border-color: white;
  background-color:  #EB6E80;
}

.orangeButton2{
  border: 2px;
  border-radius: 100px;
  background-color: #E9B000;
  color: black;
  font-weight: bold;
  height:125px;
  width:125px !important;
  margin-right: auto;
  margin-left: auto;
  content:none !important;
  line-height: 100px!important;
  border-style: solid;
  border-width:4px;
  border-color: black;
  color:black;
  transition: color 1s;
  transition: background-color 1s;
  transition: border-color 1s;
  box-shadow: 0 1px 1px 0 #C7C7C7 inset;
  background: none repeat scroll 0 0 #ffff1a;
  position: relative!important;
  top: 50%;
  transform:translateY(-50%);
}

.orangeButton2:hover{

  -webkit-box-shadow:0 0 10px rgba(0, 0, 0, 0.5);
  -moz-box-shadow:0 0 10px rgba(0, 0, 0, 0.5);
  box-shadow:0 0 10px rgba(0, 0, 0, 0.5);
  color:white;
  border-color: white;
  background-color:  #008F95;
}

.marginCenter{
  margin: 0 auto;
  position: relative;
}

.floatBottom{
  position:absolute;
  bottom: 0;
}

.fullWidth{
  width:100%;
}

.centered {
  position: fixed;
  top: 50%;
  left: 50%;
  /* bring your own prefixes */
  transform: translate(-50%, -50%);
}

.fullHeight{
  height:100%!important;
  min-height:none !important;
}

.halfHeight{
  height:50%;

}


.is-drilldown-submenu-parent > a::after {
  content: none!important;
}

/*animation stuff*/

.loadingScreen{
    display: block;
    position:   fixed;
    z-index:    100;
    top:        0;
    left:       0;
    height:     100%;
    width:      100%;
    background: rgba( 255, 255, 255, .8 )
                no-repeat;

             width: 100vw;
             height: 100vh;
             background-color: #E9B000;

             -webkit-animation-name: loading-animation;
             -webkit-animation-duration: 7.2s;
             -webkit-animation-delay: 1s;
             -webkit-animation-iteration-count: 1;
             -webkit-animation-timing-function: cubic-bezier(0.550, 0.085, 0.680, 0.530);
             -webkit-animation-direction: normal;
             -webkit-animation-fill-mode: forwards;
}

@-webkit-keyframes loading-animation {
  0%,90% {
    opacity: 1;
    z-index: 100;
  }
  100% {
   display: none;
   opacity:0;
   z-index:-5;
  }
}

.logo-animation{
  height: 200px;
  width: 100px;
  overflow: hidden;
}

.c1 {
  width: 100px;
  height: 100px;
  background-color: coral;
  border-radius:50% 0 0 50%;

  animation-name: logo-animation;
  animation-duration: 5s;
  animation-delay: 1s;
  animation-iteration-count: 1;
  animation-timing-function:    animation-timing-function: cubic-bezier(1.000, 0.000, 0.000, 1.005); ;
  animation-direction: normal;
  animation-fill-mode: forwards;
}

@keyframes logo-animation {
  0%, 10%  {
    border-radius:50% 0 0 50%;
    background:coral;
    transform:rotate(0deg);
  }
  25%, 35%  {
    border-radius:0 0 0 0;
    background:darksalmon;
    transform:rotate(-90deg);
  }
  50%, 60%  {
    border-radius:50% 50% 0 0;
    background:indianred;
    transform:rotate(90deg);
  }
  70%, 85% {
    border-radius:50%;
    background:darksalmon;
    transform:rotate(90deg);
  }
  100% {
    border-radius:0 50% 50% 0;
    background:darksalmon;
    transform:rotate(0deg);
  }
}

.c2 {
  width: 100px;
  height: 100px;
  border-radius:0 50% 50% 0;
  background-color: coral;
  animation-name: logo-animation2;
  animation-duration: 5s;
  animation-delay: 1s;
  animation-iteration-count: 1;
   animation-timing-function: cubic-bezier(1.000, 0.000, 0.000, 1.005);
  animation-direction: normal;
  animation-fill-mode: forwards;
}

@keyframes logo-animation2 {
  0%, 10%  {
    border-radius:0 50% 50% 0;
    background:coral;
    transform:rotate(0deg);
  }
  25%, 35%  {
    border-radius:0 50% 50% 0;
    background:darksalmon;
    transform:rotate(90deg);
  }
  50%,60%  {
    border-radius:50% 0 0 50%;
    background:indianred;
    transform:rotate(180deg);
    opacity:1;
  }
  70%,85%  {
    border-radius:50%;
    background:lightcoral;
    transform:rotate(180deg);
    height:100px;
    width:100px;
    opacity:0;
  }

     100% {
    background:darksalmon;
    border-radius: 0;
    height:0;
    width:0;
    opacity: 0;

  }
}

.triangle{

    border-left-width: 100px;
	  border-bottom-width: 100px;
    margin: 0 auto;
    width:0;
    height:0;
    border-top: 0 solid red;
    border-left: 0 solid blue;
    border-bottom: 0 solid green;
    border-right: 0 solid black;
    background-color:blue;
    border-left-color: transparent;
	  border-bottom-color: transparent;
}

.border{
  width:100px;
  height:100px;
}

.triangle2{
width: 0;
height: 0;
border-style: solid;
border-width: 100px 0 0 100px;
border-color: transparent transparent transparent #3b88db;
/*   width: 100px;
  height: 100px;
  margin: 0 auto;
  background: tan;
  border-top: 0 solid #EE7C31;
  border-left: 0 solid #F5D97B;
  border-bottom: 0 solid #D94948;
  border-right: 0 solid #8DB434;
  border-top-width: 10px;
  border-left-width: 10px;
  border-right-width: 10px;
  border-bottom-width: 10px; */
}

.white-bg{
  background-color: white!important;
  height:250px;
  width:250px;
}

.is-drilldown{
  max-width:none!important;
}
